# WordPress
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/backup-*/
wp-content/advanced-cache.php
wp-content/object-cache.php
wp-content/debug.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Composer
/vendor/
composer.lock

# Node
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log

# Env
.env
.env.*

# Other
*.zip
*.tar.gz
*.tar
*.bak
*.tmp 